@model CampaniasCRUD_NET9.Models.Campanias

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campanias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaniaPOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaniaPOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaPOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaPOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ANI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ANI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VDN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VDN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UCID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UCID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CTI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CTI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtiquetaWFO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtiquetaWFO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CierrePOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CierrePOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualizaPOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualizaPOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACWTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACWTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillSecundario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillSecundario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoGuion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoGuion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coleccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coleccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampoTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampoTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignPOMID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignPOMID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactListID)
        </dt>
        <dd class = "col-sm-10">    
            @Html.DisplayFor(model => model.ContactListID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrategyID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrategyID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
